body {
  margin: 0;
  font-family: Poppins, sans-serif;
  background-color: #021622;
  color: white;
}
.calculator {
  padding: 2rem;
  text-align: center;
}
.logo {
  max-width: 200px;
  margin-bottom: 20px;
}
